<strong>Bem vindo, {{{ student }}}</strong>
<p>Estamos muito felizes pela sua escolha e esperamos sempre te atender da melhor maneira possível.</p>
<p>Segue abaixo os dados de sua nova jornada:</p>
<p>
  <strong>Data de início: </strong> {{{start_date}}} <br />
  <strong>Data de fim: </strong> {{{end_date}}} <br />
  <strong>Plano escolhido: </strong> {{{plan_name}}} <br />
  <strong>Valor total: </strong> R$ {{{price}}},00 <br />
</p>
